#cart {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 75px;
    right: 0;
    background-color: #eee;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}