#side-bar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 75px;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-input::placeholder {
    color:  #A38A00;
}

#search-input {
    margin-bottom:50px;
}

.sideBtn {
    color:  #A38A00;
    width:100%;
    border-bottom: 1px solid  #A38A00;
    margin-bottom: 20px;
    display:flex;
    flex-flow: column;
    cursor: pointer;
}